body {
    background-color:rgb(214, 176, 176);
 }
 .lol {
    font-size: 4rem;
 text-align: center;
 }
 .spugaramugara {
    font-size: 3rem;
 }

 .poco {
    width: 500px;
    height: 500px;
 }
 .beluluga {
    font-size: 30px
    }