html {
    background-color: black;
}
.name {
    text-align: center;
    font-size: 50px;
    color: white;
}
.yotube {
    color: rgb(20, 16, 233);
    background-color: aliceblue;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    color:rgb(18, 19, 80);
    border-radius: 20px;
    padding: 20px;
    margin-top: 52px;
    width: 60%;
}
.zabud {
 background-color: blueviolet;
 font-family: "Mulish", sans-serif;
 font-optical-sizing: auto;
 font-weight: 700;
 font-size: 35px;
 font-style: normal;
 border-radius:15px ;
 margin-left: 100px;

}
.zabud a {
     text-decoration:none;
     color:azure;
}